{% extends "layout_sp.html" %}
{%block content%}
<h1 class="mb-4">Influencers</h1>
{%if influencers==[]%}
<h3>desired category could not be found</h3>
<button type="submit" class="btn btn-primary"><a href="{{ url_for('in_sb1', ad_id=ad_id) }}" class="text-decoration-none text-white" type="button">search valid</a></button>
{%else%}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for influencer in influencers %}
        {%if influencer.flagged==0 %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{influencer.username}}</h5>
                    <h6 class="card-subtitle mb-2">{{influencer.reach}} followers on {{influencer.neiche}}</h6>
                    <p class="card-text">Category: {{influencer.category.name}}</p>
                    <form method="post">

                        <input type="number" value="{{influencer.id}}" readonly hidden name="id">
                        {%if influencer.id != ad.influencer_id%}
                        <button type="submit" class="btn btn-primary"><a href="{{ url_for('update_request', id=influencer.id, ad_id=ad_id) }}" class="text-decoration-none text-white" type="button">sendAdRequest</a></button>
                        {%else%}
                        <button type='submit', class="btn btn-primary" disabled>RequestSent</button>
                        {%endif%}
                    
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{%endif%}
{%endblock%}